* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------HEADER---------------------------------- */

header {
    width: 100%;
}

header img {
    width: 100%;
}

nav ul {
    display: inline-flex;
}

/* ------------------------------NAV---------------------------------- */

.navbar {
    padding: 0 10px;
    background-color: rgba(30,143,4,255);
}

.navbar-nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2px 7px;
}

.navbar-nav li {
    border-radius: 10px;
}

.nav-link {
    font-size: 12px;
}

li .form-control {
    height: auto;
    font-size: 12px;
}

.navbar-nav li:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

/* ------------------------------ĐĂNG KÝ - ĐĂNG NHẬP---------------------------------- */

.dangnhap-dangki {
    display: flex;
    justify-content: center;
}

.dn-dk {
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(240, 244, 244);
}

.dn-dk a {
    padding: 2px 30px;
}

p {
    font-size: 14px;
}

#tieude {
    font-weight: 600;
}

strong {
    color:rgba(30,143,4,255);
}

img {
    display: flex;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
}

footer {
    display: inline-flex;
    width: 100%;
    margin-top: 12px;
}

.lien-he-1 {
    display: inline-flex;
    width: 67%;
    padding: 10px;
    background-color: rgb(240, 244, 244);
    border-radius: 10px;
}

.p1 {
    width: 50%;
}

.p1 a {
    font-size: 12px;
}

.p1 a:hover {
    color:rgba(30,143,4,255);
}

ul {
    list-style: none;
}

.p1 a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.lien-he-2 {
    width: 30%;
    margin-left: 24px;
    padding: 10px;
    background-color: rgb(240, 244, 244);
    border-radius: 10px;
}

.thanh-phan {
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
    padding: 6px 4px;
}

.sdt {
    color: rgba(30,143,4,255);
    font-weight: bold;
}

.anh-footer {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}

